SERVICE_SHARED_NETWORK=service-backbone-shared
BACKEND_SHARED_NETWORK=service-backbone-shared
SHARED_SERVICE_NETWORK=service-backbone-shared

AUTH_SERVICE_IMAGE=123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/prod-auth-service:replace-with-git-sha
AUTH_MYSQL_IMAGE=mysql:8.0

AUTH_SERVICE_HOST_BIND=127.0.0.1
AUTH_SERVICE_HOST_PORT=8081

SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8081

MYSQL_HOST=auth-mysql
MYSQL_PORT=3306
MYSQL_DB=authdb
MYSQL_USER=authuser
MYSQL_ROOT_PASSWORD=replace-with-auth-db-root-password
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SSL=false

MYSQL_URL=jdbc:mysql://auth-mysql:3306/authdb?useSSL=false&serverTimezone=UTC
MYSQL_PASSWORD=replace-with-auth-db-password

USER_SERVICE_BASE_URL=http://user-service:8082
USER_SERVICE_JWT_ISSUER=auth-service
USER_SERVICE_JWT_AUDIENCE=user-service
USER_SERVICE_JWT_SUBJECT=auth-service
USER_SERVICE_JWT_SCOPE=internal
USER_SERVICE_JWT_SECRET=replace-with-auth-to-user-secret

AUTH_JWT_SECRET=replace-with-auth-access-jwt-secret
SSO_GITHUB_CLIENT_ID=replace-with-github-client-id
SSO_GITHUB_CLIENT_SECRET=replace-with-github-client-secret
SSO_GITHUB_CALLBACK_URI=http://<public-host>/v1/login/oauth2/code/github

SSO_SESSION_COOKIE_SECURE=false
AUTH_REFRESH_COOKIE_SECURE=false
